
@model             Models.ViewModels.ResearchViewModel

@{
    ViewBag.Title = "Исследование";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center">
    @using (Html.BeginForm("View", "Research", FormMethod.Post, new { role = "form", @class = "col-lg-7" }))
    {
        <h1>Исследование</h1>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.SectionId, new { @value = Model.Research.SectionId })
        @Html.HiddenFor(m => m.AdvancedPropertyCount)
        <div class="form-group">
            <label>Название*</label>
            @Html.TextBoxFor(m => m.Research.Title, new { placeholder = "Введие название исследования", @required = true, @class = "form-control is-invalid", @value = Model.Research.Title })
            @Html.ValidationMessageFor(m => m.Research.Title)
        </div>
        <div class="form-group">
            <label>Авторы*</label>
            @Html.TextBoxFor(m => m.Research.Author, new { placeholder = "Введите авторов через запятую", @required = true, @class = "form-control", @value = Model.Research.Author })
            @Html.ValidationMessageFor(m => m.Research.Author)
        </div>
        <div class="form-group">
            <label>Описание результата*</label>
            @Html.TextAreaFor(m => m.Research.Description, new { placeholder = "Введите описание результата", @required = true, @class = "form-control", @value = Model.Research.Description, rows = 5 })
            @Html.ValidationMessageFor(m => m.Research.Description)
        </div>
        <div class="form-group">
            <label>Объект*</label>
            @Html.TextBoxFor(m => m.Research.Object, new { placeholder = "Введите объект исследования", @required = true, @class = "form-control", @value = Model.Research.Object })
            @Html.ValidationMessageFor(m => m.Research.Description)
        </div>
        <div class="form-group">
            <label>Связанные объекты*</label>
            @Html.ListBoxFor(m => m.Research.SelectedObjectList, new MultiSelectList(Model.DataObjectList, "Id", "Name", Model.Research.SelectedObjectList), new { @class = "form-control form-control-chosen", data_live_search = "true"})
        </div>
        <div class="form-group">
            <label>Предмет*</label>
            @Html.TextBoxFor(m => m.Research.Description, new { placeholder = "Введите предмет исследования", @required = true, @class = "form-control", @value = Model.Research.Thing })
            @Html.ValidationMessageFor(m => m.Research.Description)
        </div>
        <div class="form-group">
            <label>Метод*</label>
            @Html.TextBoxFor(m => m.Research.Description, new { placeholder = "Введите метод исследования", @required = true, @class = "form-control", @value = Model.Research.Method })
            @Html.ValidationMessageFor(m => m.Research.Description)
        </div>
        <div id="advanced-property-group">
            <label>Дополнительные свойства</label>
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="addProperty()">Добавить</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" id="btnSubmit">Сохранить</button>
    }
</div>
<script>
    function addProperty() {
        var count = $("#AdvancedPropertyCount").val();
        const group = document.getElementById(`advanced-property-group`);
        group.insertAdjacentHTML('beforeend',
            `<div class="form-row" id="advanced-property-row${count}">
                <div class="form-group col-5">
                    <input class="form-control" name="CouponRule.CouponRuleNeedConditionValues[${count}].Value" placeholder="Введите наименование" type="text">
                </div>
                <div class="form-group col-6">
                    <input name="CouponRule.CouponRuleNeedConditionValues[${count}].CouponRuleId" hidden/>
                    <input class="form-control" name="CouponRule.CouponRuleNeedConditionValues[${count}].Value" placeholder="Введите значение" type="text">
                </div>
                <div class="form-group col-1 cross-container">
                    <button type="button" class="close" aria-label="Close" onclick="deleteProperty()">
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
            </div>`);
        count++;
        $("#AdvancedPropertyCount").val(count);
    }

    function deleteProperty() {
        var count = $("#AdvancedPropertyCount").val();
        count--;
        const original = document.getElementById(`advanced-property-row${count}`);
        original.remove();
        $("#AdvancedPropertyCount").val(count);
    };

</script>