
@model Models.ViewModels.ResearchViewModel

@{
    ViewBag.Title = "Исследование";
    Layout = "_Layout";
    var dataObjectString = string.Empty;
    @foreach (var dataObject in Model.Research.DataObjects ?? new List<Models.DataObjectDto>())
    {
        dataObjectString += $"{dataObject.Name} ";
    }
}
<div class="">
    <div class="">
        <h1>Исследование</h1>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label"><b>Название</b></label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Research.Title">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label"><b>Описание</b></label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Research.Description">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label"><b>Авторы</b></label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Research.Author">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label"><b>Объекты исследования</b></label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@dataObjectString">
            </div>
        </div>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label"><b>Методы исследования</b></label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Research.Method">
            </div>
        </div>
    </div>
</div>
