@model Models.AreaDto
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name</h1>
<div class="row">
    <div class="mb-3 mt-3 col-lg-12">
        <a href="@Url.Action("New", "Section", new { @parentId = Model.Id})">
            <input value="Добавить раздел" type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-2 mb-lg-0" />
        </a>
    </div>
</div>
<div class="list-group">
    @foreach (var sect in Model.Section)
    {

        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <a href="@Url.RouteUrl(new { controller = "Section", action = "View", id = sect.Id })">
                    <h5 class="mb-1">@sect.Name</h5>
                </a>
                <div class="adv-buttons">
                    <button type="button" class="btn btn-warning">
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="../../lib/bootstrap-icons/bootstrap-icons.svg#pencil-fill" />
                        </svg>
                    </button>
                    <button type="button" class="btn btn-danger">
                        <svg class="bi" width="16" height="16" fill="currentColor">
                            <use xlink:href="../../lib/bootstrap-icons/bootstrap-icons.svg#x" />
                        </svg>
                    </button>
                </div>
            </div>
            <a href="@Url.RouteUrl(new { controller = "Section", action = "View", id = sect.Id })">
                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            </a>
            <small>Donec id elit non mi porta.</small>
        </div>
    }
</div>