@model Models.MainSectionDto
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name</h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Разделы</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Объекты</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Исследования</a>
        <a class="nav-item nav-link" id="nav-test-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Метод</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

        @if (Model.SectionDtos != null)
        {
            if (Model.SectionDtos.Any())
            {
                <div class="row">
                    <div class="mb-3 mt-3 col-lg-12">
                        <a href="@Url.Action("New", "Section", new { @parentId = Model.Id})">
                            <input value="Добавить раздел" type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-2 mb-lg-0" />
                        </a>
                    </div>
                </div>
                @foreach (var sect in Model.SectionDtos)
                {
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <a href="@Url.RouteUrl(new { controller = "Section", action = "View", id = sect.Id })">
                                <h5 class="mb-1">@sect.Name</h5>
                            </a>
                            <div class="adv-buttons">
                                <button type="button" class="btn btn-warning">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use xlink:href="../../lib/bootstrap-icons/bootstrap-icons.svg#pencil-fill" />
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use xlink:href="../../lib/bootstrap-icons/bootstrap-icons.svg#x" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <a href="@Url.RouteUrl(new { controller = "Section", action = "View", id = sect.Id })">
                            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                        </a>
                        <small>Donec id elit non mi porta.</small>
                    </div>
                }
            }
            else
            {
                @await Html.PartialAsync("~/Views/NoResultPartial.cshtml")
            }

        }
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

        @if (Model.TypeObjects != null)
        {
            if (Model.TypeObjects.Any())
            {
                <div class="row">
                    <div class="mb-3 mt-3 col-lg-12">
                        <a href="@Url.Action("New", "TypeObject", new { @parentId = Model.Id })">
                            <input value="Добавить тип объекта" type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-2 mb-lg-0" />
                        </a>
                    </div>
                </div>
                <div class="accordion" id="accordionExample">
                    @foreach (var typeObject in Model.TypeObjects)
                    {
                        var typeId = $"collapse{typeObject.Id}";
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#@typeId" aria-expanded="true" aria-controls="@typeId">
                                        @typeObject.Name
                                    </button>
                                </h2>
                            </div>
                            <div id="@typeId" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h2>@typeObject.Name</h2>
                                    <div class="row">
                                        <div class="mb-3 col-lg-12">
                                            <a href="@Url.Action("New", "DataObject", new { @typeObjectId = @typeObject.Id})">
                                                <input value="Добавить объект" type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-2 mb-lg-0" />
                                            </a>

                                        </div>
                                    </div>
                                    <div class="table-responsive table-striped">
                                        <table class="table table-bordered table-hover table-striped" id="mainTable">
                                            <thead>
                                                <tr>
                                                    <th class="position-relative sorting">Id</th>
                                                    <th class="position-relative sorting">Название</th>
                                                    @foreach (var prop in typeObject.Properties)
                                                    {
                                                        <th class="position-relative sorting">@prop.Name</th>
                                                    }
                                                </tr>
                                            </thead>
                                            <tbody id="mainTableBody">
                                                @foreach (var dataObject in typeObject.DataObjects)
                                                {
                                                    <tr>
                                                        <td>@Html.ActionLink(dataObject.Id.ToString(), "View", "DataObject", new { @id = dataObject.Id })</td>
                                                        <td>@Html.ActionLink(dataObject.Name ?? " ", "View", "DataObject", new { @id = dataObject.Id })</td>
                                                        @foreach (var prop in dataObject?.ValuePropertyObjects)
                                                        {
                                                            <td>@prop.Value</td>
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                @await Html.PartialAsync("~/Views/NoResultPartial.cshtml", new ViewDataDictionary(ViewData) { new KeyValuePair<string, object>("addWord", "тип объекта"), new KeyValuePair<string, object>("controller", "TypeObject"), new KeyValuePair<string, object>("parentId", Model.Id) });
            }
        }
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

        @if (Model.Researches != null)
        {
            if (Model.Researches.Any())
            {
                <div class="row">
                    <div class="mb-3 mt-3 col-lg-12">
                        <a href="@Url.Action("View", "Research", new { @sectionId = Model.Id})">
                            <input value="Добавить исследование" type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-2 mb-lg-0" />
                        </a>
                    </div>
                </div>
                @foreach (var research in Model.Researches)
                {
                    var dataObjectString = string.Empty;
                    @foreach (var dataObject in research.DataObjects)
                    {
                        dataObjectString += $"{dataObject.Name} ";
                    }
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@research.Title</h5>
                            <div class="adv-buttons">
                                <button type="button" class="btn btn-light" onclick="location.href='@Url.Action("Index", "Contact", new { researchId = research.Id})'">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use xlink:href="../../lib/bootstrap-icons/bootstrap-icons.svg#paperclip" />
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-warning">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use xlink:href="../../lib/bootstrap-icons/bootstrap-icons.svg#pencil-fill" />
                                    </svg>
                                </button>
                                <button type="button" class="btn btn-danger">
                                    <svg class="bi" width="16" height="16" fill="currentColor">
                                        <use xlink:href="../../lib/bootstrap-icons/bootstrap-icons.svg#x" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <p class="mb-1">@research.Description</p>
                        <p class="mb-1">Объекты исследования: @dataObjectString</p>
                        <small>@research.Author</small>
                    </div>

                }
            }
            else
            {
                <div class="text-center center">
                    <h2>На данный момент не существует ни одного исследования</h2>
                    <p>Попробуйте добавить новое исследование</p>
                    <a href="@Url.Action("View", "Research", new { @parentId = @ViewData["parentId"] })">
                        <input value="Добавить исследование" type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-2 mb-lg-0" />
                    </a>
                </div>
            }
        }
    </div>
    <div class="tab-pane fade" id="nav-test" role="tabpanel" aria-labelledby="nav-test-tab">...</div>
</div>
