@model Models.MainSectionDto
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.Name</h1>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Разделы</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Объекты</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Исследования</a>
        <a class="nav-item nav-link" id="nav-test-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Метод</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        @foreach (var sect in Model.SectionDtos)
        {
            <a href="@Url.RouteUrl(new { controller = "Section", action = "View", id = sect.Id })" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@sect.Name</h5>
                    <small>Обновлено @sect.UpdateDateTime.ToShortDateString()</small>
                </div>
                <p class="mb-1">@sect.Description</p>
                <small>Donec id elit non mi porta.</small>
            </a>
        }
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row">
            <div class="mb-3 col-lg-12">
                <button data-toggle="modal" data-target="#viewModal" type="button" class="btn btn-primary col-sm-12 col-lg-auto mb-2 mb-lg-0">Добавить</button>
                <button data-toggle="modal" data-target="#searchModal" type="button" class="btn btn-warning col-sm-12 col-lg-auto">Отфильтровать</button>
            </div>
        </div>
        @foreach (var group in Model.DataObjectDtos.GroupBy(x => x.TypeObjectDto.Id))
        {
    <h2>@(group.ToList()[0].TypeObjectDto.Name)</h2>
            <div class="table-responsive table-striped">
                <table class="table table-bordered table-hover table-striped" id="mainTable">
                    <thead>
                        <tr>
                            <th class="position-relative sorting">Id</th>
                            <th class="position-relative sorting">Название</th>
                            @foreach (var prop in group.ToList()[0].ValuePropertyObjectDtos)
                            {
                                <th class="position-relative sorting">@prop.Property.Name</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="mainTableBody">
                        @foreach (var item in group.ToList())
                        {

                            <tr>
                                <td>@Html.ActionLink(item.Id.ToString(), "View", new { @id = item.Id })</td>
                                <td>@Html.ActionLink(item.Name ?? " ", "View", new { @id = item.Id })</td>
                                @foreach (var prop in item.ValuePropertyObjectDtos)
                                {
                                    <td>@prop.Value</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
    <div class="tab-pane fade" id="nav-test" role="tabpanel" aria-labelledby="nav-test-tab">...</div>
</div>
